<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Input name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h3 align="center">Введите ваше имя в поле ниже</h3>
        <form align="center" action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
            <p>Ваше фио:
                <input type="text" th:field="*{content}"/>
            </p>
            <p>
                <input type="reset" value="Сбросить"/>
                <input type="submit" value="Подтвердить"/>
            </p>
        </form>
    </body>
</html>